/* Farben: #002a5a, #efe8d7, #F4C4C4, #282b29, #7d2222, #DEB873, , #1d8883
font-family: 'Open Sans', sans-serif; */
@font-face {
    font-family: Athene;
    src: url(../fonts/Athene.otf) format('opentype');
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
nav{
    color: #002a5a;
    background: none;
    position: fixed;
    border-bottom: 1px solid #002a5a;
    width: 100%;
    height: 4vh;
}
nav ul{
    list-style: none;
    position: relative;
    margin: 0;
}
nav ul li{ 
    display: inline;
}
nav ul li h3{
    display: inline;
    position: absolute;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    left: 10%;
    top: 1vh;
}
nav ul li a{
    text-align: right;
    text-decoration: none;
    color: #002a5a;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    right: 10%;
    top: 1vh;
}
nav ul li a:hover{
    text-decoration: underline;
}
#folio{
    background: #efe8d7;
    padding: 8vh 10%;
    text-align: center;
}
h1{
    font-family: Athene;
    font-size: 8rem;
    font-weight: 100;
    margin: 0;
}
#folio h1{
    color: #002a5a;
    border-bottom: 1px solid #002a5a;
}
.dash{
    letter-spacing: -11.8px;
}
#folio img{
    margin-top: 5vh;
}
#folio h2{
    font-family: Athene;
    font-size: 1.2rem;
    color: #002a5a;
    font-weight: 50;
    margin: 3vh 11% 10vh 0;
}
h2>span{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}
.creepy{
    position: absolute;
    display: none;
}
.easter1{
    display: block;
    height: 2vh;
    width: 5%;
    margin: auto;
}
.easter1:hover~.creepy{
    display: inline-block;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
#release h4{
    margin-left: 7%;
}
#release{
    color: #282b29;
    padding: 8vh 7% 10vh 0;
    background: #F4C4C4;
}
p{
    width: 40%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 30px;
    font-size: 0.9rem;
}
#release p{
    margin-left: 62%;
}
table{
    border: none;
    border-color: #282b29;
    width: 45%;
    margin: 10vh 0 13vh 57%;
    font-family: 'Open Sans', sans-serif;
}
td{
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: 200;
}
th{
    border-top: none;
    border-right: none;
    border-left: none;
}
tr:nth-of-type(1){
    font-size: 0.8rem;
    text-align: right;
}
tr:not(:nth-of-type(1)) th{
    font-size: 0.9rem;
    width: 72%;
    text-align: left;
}
tr td:nth-of-type(1){
    text-align: left;
    font-size: 0.6rem;
    width: 8%;
}
tr td:nth-of-type(2){
    text-align: right;
    font-size: 0.7rem;
    width: 20%;
    padding: 3vh 0;
}
#release img{
    margin-left: 93%;
    border-radius: 50%;
    width: 9%;
}
#release .easter2{
    display: block;
    height: 2vh;
    width: 5%;
    margin-left: 94.8%;
}
#release .easter2:hover~img{
    background: url(../img/creepy\ dude2.jpeg) center/cover no-repeat;
}
#works{
    padding: 8vh 0 25vh 7%;
    background-color: #DEB873;
    color: #7d2222;
}
#works h4{
    margin-left: 93%;
}
#works h1{
    text-align: right;
}
#works p{
    margin-bottom: 8vh;
}
div{
    margin: 25vh 7% 0 0;
}
div:nth-of-type(even) h2{
    text-align: right;
}
div h2{
    font-family: Athene;
    font-size: 3.5rem;
}
div h2:nth-of-type(1){
    margin: 0;
}
div h2:nth-of-type(2){
    margin:0;
    padding-bottom: 35vh;
}
div:nth-of-type(1){
    background: url(../img/bg-marconatto-1.jpg) right/contain no-repeat;
}
div:nth-of-type(2){
    background: url(../img/kathe_cover-1.jpg) left/contain no-repeat;
}
div:nth-of-type(3){
    background: url(../img/bg-nicole-1.jpg) right/contain no-repeat;
}
div:nth-of-type(4){
    background: url(../img/boa_cover-1.jpg) left/contain no-repeat;
}
#contact{
    background: #D2D2D2;
    color: #1d8883;
    padding: 8vh 7% 5vh 0;
}
#contact h4{
    padding-left: 7%;
}
#contact h3{
    width: 40%;
    margin: 0 0 1vh 43%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}
#contact ul{
    margin-top: 20vh;
    list-style: none;
}
#contact ul li{
    text-align: right;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
}
#contact ul li a{
    text-decoration: none;
    color: #1d8883;
}
#contact ul li a:hover{
    border-bottom: 1px solid #1d8883;
}